---
---
// variables
$primary-font: 'Raleway', sans-serif;


body {
  font-family:$primary-font;
}

.container {
  max-width:1400px;
  margin-left:auto;
  margin-right:auto;
}

header {
  nav {
    a {
      color:#333;
      font-size:16px;
      &:hover {color:#999;}
      &.active {color:#aaa;}
    }
    i {
      font-size:16px;
    }
  }

}

.work {
  &:hover {background-color:#fafafa;}
  a {text-decoration:none;}
  .thumb-container {
    height:350px;
  }

  .thumb {
    img {
      max-width:300px;
      max-height:300px;
    }

  }
}





.cover {
 background-repeat:no-repeat;
 background-size: cover;
 background-position:center center;
}
