---
---
// variables
$primary-font: 'Montserrat', sans-serif;
$alt-font: 'Merriweather', sans-serif;

.alt-font {font-family:$alt-font;}


body {
  font-family:$primary-font;
}

.container {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

header {
  nav {
    a {
      color:#999;
      &:hover {border-bottom:solid #999 2px;padding-bottom:2px;}
      &.active {border-bottom:solid #ccc 2px;padding-bottom:2px;}
    }
  }

}

.thumb {
  min-width:300px;
  min-height:300px;
}

.shadow {

  &:hover {
    span {display:block;}
    background:
       linear-gradient(
         rgba(0, 0, 0, 0.6),
         rgba(0, 0, 0, 0.6)
       );
  }
}

.cover {
 background-repeat:no-repeat;
 background-size: cover;
 background-position:center center;
}
