<header class="w-100 w-20-l">

{% assign ordered = site.projects | sort:"order" %}

<div class="pv3 tc tl-l">
  <div class="w-100 db pv3">
    <h1 class="mv0 f3"><a href="/" class="link ttu black" alt="{{site.data.settings.site_title}}">{{site.data.settings.site_title}}</a></h1>
  </div>
  <nav class="w-100 db pv3">
    {% for item in site.data.navigation.main_nav %}
      <a href="{{item.url}}" class="db link mv3 {% if page.url == {{item.url}} %}active{% endif %}">{{item.title}}</a>
    {% endfor %}
    <div class="db pointer {% if page.layout == 'project' %}active{% endif %}" id="toggle">
      <a href="#" class="dib link">Projects</a>
      <i class="fas fa-caret-right dib ml1"></i>
    </div>
    <div class="dn pointer" id="hidden">
    {% for project in ordered %}
      <a href="{{project.url}}" class="db link mv3 ml2 {% if page.url == {{project.url}} %}active{% endif %}">{{project.title}}</a>
    {% endfor %}
    </div>
  </nav>
</div>

</header>
