<header class="pa4 pa5-l vh-100-l black">

{% assign ordered = site.projects | sort:"order" %}

<div class="pv3 tc tl-l vh-50-l">
  <div class="w-100 db pv3">
    <h1 class="mv0 f3"><a href="/" class="link ttu black" alt="{{site.data.settings.site_title}}">{{site.data.settings.site_title}}</a></h1>
  </div>
  <nav class="w-100 db pv3">
    {% for item in site.menus.main %}
      <a href="{{item.url}}" class="db link mv3 ttu ttc-l w3 ml-auto mr-auto ml1-l mr1-l pb1 {% if page.url == {{item.url}} %}active{% endif %}">{{item.title}}</a>
    {% endfor %}
    <div class="db pointer {% if page.layout == 'project' %}active{% endif %}" id="toggle">
      <a href="#" class="dib link ttu ttc-l ml3 ml1-l">Projects</a>
      <i class="fas fa-caret-right dib ml1"></i>
    </div>
    <div class="dn pointer" id="hidden">
    {% for project in ordered %}
      <a href="{{project.url}}" class="db link mv3 ttu ttc-l w3 ml-auto mr-auto ml1-l mr1-l pb1 {% if page.url == {{project.url}} %}active{% endif %}">{{project.title}}</a>
    {% endfor %}
    </div>
  </nav>
</div>

<div class="social w-100 mt5-l pv5-l tc tl-l">
  <a class="link black" href="{{site.data.settings.url_instagram}}"><i class="fab fa-instagram f3 ml1 mr2"></i></a>
  <a class="link black" href="{{site.data.settings.url_facebook}}"><i class="fab fa-facebook f3 mr2"></i></a>
  <a class="link" href="mailto:{{site.data.settings.site_email}}">
    <button class="pointer w4 input-reset db br3 ph3 pv2 ba b--gray bg-black white mt3 ml-auto mr-auto ml1-l">Contact</button>
  </a>
  <a class="link white" href="{{site.data.settings.url_gallery}}">
    <button class="pointer w4 input-reset db br3 ph3 pv2 ba b--gray bg-black white mv2 ml-auto mr-auto ml1-l">Gallery</button>
  </a>
  <a class="link white" href="{{site.data.settings.url_archive}}">
    <button class="pointer w4 input-reset db br3 ph3 pv2 ba b--gray bg-black white mv2 ml-auto mr-auto ml1-l">Archive</button>
  </a>
</div>

</header>
