---
layout: default
---

<main class="flex flex-wrap ml7-l pl4-l pt5">

  {% assign ordered = site.projects | sort:"order" %}

  {% for project in ordered %}
    <div class="w-100 w-third-l tc pointer pa2">
      <a href="{{project.url}}" class="link" alt="{{project.title}}">
        <div class="home ml-auto mr-auto">
          <img src="{{project.cover_image}}" alt="{{project.title}}"/>
        </div>
        <div class="w-100 link gray f6 pv2 lh-copy">
          <h3 class="ttu">{{project.title}}</h3>
        </div>
      </a>
    </div>
  {% endfor %}

</main>
