---
layout: default
---

<main class="flex flex-wrap ml7-l pl4-l">

  {% assign ordered = site.projects | sort:"order" %}

  <div class="w-100">
    <div class="slider">
      {% for project in ordered %}
          <div class="image tc dt" style="background-image:url('{{project.cover_image}}')">
            <div class="dtc v-mid pointer">
              <a class="link" href="{{project.url}}" alt="{{project.title}}">
                <span class="pv2 ph3 bg-black white ttu f3 f1-l mono">{{project.title}}</span>
              </a>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>

</main>
