---
layout: default
---

  <div class="w-100 lh-copy">
    <h2 class="ttu tc mr3">Projects</h2>
  </div>

{% assign ordered = site.projects | sort:"order" %}

{% for project in ordered %}
  <div class="project w-100 w-third-l ph3 tc pointer pv3">
    <a href="{{project.url}}" class="link" alt="{{project.title}}">
      <div class="thumb cover w-100 grow" style="background-image:url('{{project.cover_image}}')">
        <div class="w-100 h5">
        </div>
      </div>
      <span class="ttu gray tracked pv3 db">{{project.title}}</span>
    </a>
  </div>
{% endfor %}
