---
layout: default
---

  <div class="w-100 lh-copy">
    <h2 class="ttu tc mr3">{{page.title}}</h2>
      {{content}}
  </div>

{% for work in page.works %}
  <div class="work w-100 w-third-l tc pointer pa3 mv3">
    <a data-fancybox="gallery" data-caption="{{work.name}}" href="{{work.image}}" class="link" alt="{{work.name}}">
      <div class="w-100 dt thumb-container">
        <div class="dtc v-mid thumb">
          <img src="{{work.image}}" alt="{{work.name}}"/>
        </div>
      </div>
      <div class="w-100 link gray f6 pv2 lh-copy">
        <p class="b">{{work.name}}</p>
        {{work.description | markdownify}}
      </div>
    </a>
  </div>
{% endfor %}
